{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block main %}

<!-- About -->
			<div id="about">
				<h1 class="major">About</h1>
				<span class="image main"><img src="images/pic03.jpg" alt="" /></span>
				<div style="margin-top: -35px; font-size: 20px;">
				<p>Bienvenue sur Awit, votre destination ultime pour une expérience musicale immersive et sans frontières. Notre plateforme de streaming en ligne a été créée avec une passion dévorante pour la musique et le désir de connecter les auditeurs du monde entier à travers des sons captivants.
<br>
<h2>Notre Mission</h2>
Chez Awit, nous croyons en la puissance transformative de la musique. Notre mission est de fournir un accès sans entrave à une vaste bibliothèque musicale, permettant à chacun de découvrir, explorer et partager sa passion pour tous les genres musicaux.
<br><br>
<h2>Pourquoi Awit ?</h2>
<ul>
<li><strong>Bibliothèque Étendue :</strong> Explorez des millions de chansons, des classiques intemporels aux derniers hits, tout au bout de vos doigts.</li>
<li><strong>Qualité Audio Exceptionnelle :</strong> Profitez d'une qualité audio exceptionnelle qui donne vie à chaque note et à chaque battement.</li>
<li><strong>Personnalisation Totale :</strong> Créez vos propres playlists, suivez vos artistes préférés et découvrez de nouvelles pépites musicales recommandées spécialement pour vous.</li>
<li><strong>Disponibilité Multiplateforme :</strong> Accédez à votre musique préférée à tout moment, n'importe où, que vous soyez sur votre ordinateur, votre smartphone ou votre tablette.</li>
</ul>
<h2>Notre Engagement</h2>
Chez Awit, nous nous engageons à offrir une expérience utilisateur exceptionnelle. Nous travaillons constamment pour améliorer notre plateforme, en tenant compte des retours de nos utilisateurs, afin de garantir une satisfaction totale.
<br><br>
<h2>Contactez-Nous</h2>
Nous adorons entendre parler de nos utilisateurs. Si vous avez des questions, des suggestions ou simplement envie de partager votre amour pour la musique, n'hésitez pas à nous contacter via le formulaire présents sur le site, dans l'onglet <a href="{{ path('contact.index') }}">Contact</a>.
<br>
Merci de faire partie de la communauté Awit. Laissez la musique vous emporter vers de nouveaux horizons.</p>
			</div>
			</div>

{% endblock %}
