{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block main %}

<div id="contact" style="margin-top: 50px;">
	<h2 class="major">Contact</h2>
	<h3 class="col-12">Notre adresse :</h3>
<p class="col-12">
    7, rue des archives <br>
    53 000 Laval
</p>
<p class="col-12 d-none d-md-block text-center">
    <iframe style="border:5px solid black;border-radius:5px" src="https://www.google.com/maps/d/embed?mid=178dEKz9em3cD3xdoPY8L6Vn0DBHQ9lo&ehbc=2E312F" width="640" height="480"></iframe>
</p>
<h3 class="col-12">Notre Numéro :</h3>
<p class="col-12">
    00 00 00 00 00
</p>
<h3 class="col-12">Notre e-mail :</h3>
<p class="col-12">
    contact@awit.fr
</p>
<h3 class="col-12">Nos gérants :</h3>
<p class="col-6">
    CHRIST Nolan - 00 00 00 00 00 - machin@gmail.com
</p>
<p class="col-6">
    GARNIER Clovis - 00 00 00 00 00 - machin@gmail.com
</p>
	<ul class="icons">
		<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
	</ul>
</div>

<script>
	let theReset = $('resett').click(() => {
		$('email').val("");
		$('name').val("");
		$('message').val("");
	});
</script>

{% endblock %}
