{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueController!{% endblock %}

{% block main %}
<div style="margin-top: 50px;">
<h1 class="major">Politique de Confidentialité</h1>
  
  <h2>Introduction</h2>
  <p>AWIT est dédié à la protection et à la confidentialité des données de ses utilisateurs. Cette politique de confidentialité décrit les données personnelles que nous collectons, comment nous les utilisons, et comment nous les protégeons.</p>
  
  <h2>Collecte de Données</h2>
  <p>Nous collectons les données personnelles que vous fournissez lors de l'inscription à nos services, lors de l'achat de nos abonnements musicaux, ou lors de l'interaction avec notre site web. Ces données peuvent inclure votre nom, adresse e-mail, numéro de téléphone, et informations de paiement. Nous utilisons ces informations pour gérer votre compte, traiter vos transactions, et vous fournir un service de haute qualité.</p>
  
  <h2>Utilisation des Données</h2>
  <p>Nous utilisons les données collectées pour des fins telles que :</p>
  <ul>
     <li>Gestion de votre compte et de vos abonnements musicaux.</li>
     <li>Traitement des transactions financières associées à l'achat de nos abonnements musicaux.</li>
     <li>Amélioration de nos services et de votre expérience utilisateur.</li>
     <li>Communication avec vous par e-mail, sms, ou via notre application mobile, concernant des mises à jour, des offres spéciales, et des annonces importantes.</li>
  </ul>
  
  <h2>Partage des Données</h2>
  <p>Nous partageons vos données personnelles avec nos sous-traitants qui ont besoin de ces informations pour effectuer des services pour notre compte, comme le paiement des transactions, le traitement des transactions, et la livraison de nos services. Nous partageons également vos données avec les autorités compétentes en cas de litige ou d'investigation.</p>
  
  <h2>Droits des Utilisateurs</h2>
  <p>Vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer, et d'opposer l'utilisation de vos données pour certaines finalités. Pour exercer ces droits, veuillez contacter notre équipe de support client.</p>
  
  <h2>Sécurité des Données</h2>
  <p>Nous utilisons des mesures de sécurité appropriées pour protéger vos données personnelles contre la perte, l'utilisation, le partage, la modification, ou la destruction non autorisée. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons donc pas garantir une sécurité absolue.</p>
  
  <h2>Changes à la Politique de Confidentialité</h2>
  <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Si nous apportons des modifications significatives à cette politique, nous publierons une notification sur notre site web. Il est donc recommandé de consulter régulièrement cette page pour rester informé de toute modification.</p>
  
  <h2>Contact</h2>
  <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez contacter notre équipe de support client à l'adresse suivante : contact@awit.com.</p>
</div>
{% endblock %}
